/* Shaping and setting borders */
.num1, .num2, .num3{
  background-color: lightsalmon;
  border-radius: 10px 10px 10px 10px;
  /* overflow: hidden; */
  height: 200px;
  box-shadow: 40px 12px 18px -6px rgba(0,0,0,0.7) ;
  margin: 50px;
  margin-left: 28rem;
  opacity: .3;
  font-family: cursive ;
}

pre{
  margin: 0 auto;
  max-width: 300px;
  border: solid 2px whitesmoke;
  padding: 12px;

}



/* positioning to get the triangle effect */
.num3{
  margin-left: 49rem;
}

.grid{
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.grid > div{
  flex-basis: calc(15% - 10px);
}

/* hover effects */

.num1:hover, .num2:hover, .num3:hover{
    transform: scale(1.5);
    transition-duration: 1s;
    transition-delay: .2s;
    opacity: 1;
    background-color: rgb(84, 107, 192);
}